.layout-container {
    height: 100vh;
    height: 100vw;
    display: flex;
  }
  
  .sidenav {
    flex: 1;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
    padding: 1.5rem;
  }